@media only screen and (min-width: 1024px) {
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Italic.ttf");
    font-style: italic;
  }
  body {
    font-family: "Poppins";
    color: #1c1a1f;
  }
  body button {
    outline: none;
  }
  body input {
    outline: none;
  }
  body select {
    outline: none;
  }
  .nav-desktop {
    width: 100%;
    height: 80px;
    background-color: white;
    -webkit-box-shadow: 0px 20px 60px rgba(28, 26, 31, 0.04);
            box-shadow: 0px 20px 60px rgba(28, 26, 31, 0.04);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    z-index: 999;
  }
  .nav-desktop .content {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-desktop .content .logo {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-desktop .content .logo img {
    width: 80px;
    height: 80px;
  }
  .nav-desktop .content .menu {
    width: 65%;
  }
  .nav-desktop .content .menu ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-desktop .content .menu ul li {
    height: 100%;
    margin-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-desktop .content .menu ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    cursor: pointer;
  }
  .nav-desktop .content .menu ul li:hover {
    color: #2f78e6;
  }
  .nav-desktop .content .menu ul li.active {
    color: #2f78e6;
  }
  .nav-desktop .content .icon {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-desktop .content .icon .wishlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 50px;
    cursor: pointer;
  }
  .nav-desktop .content .icon .wishlist i {
    font-size: 20px;
  }
  .nav-desktop .content .icon .wishlist .circle {
    position: absolute;
    width: 16px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2f78e6;
    border-radius: 16px;
    top: 22px;
    right: 8px;
  }
  .nav-desktop .content .icon .wishlist .circle span {
    color: white;
    font-size: 12px;
  }
  .nav-desktop .content .icon .cart {
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
  }
  .nav-desktop .content .icon .cart i {
    font-size: 20px;
  }
  .nav-desktop .content .icon .cart .circle {
    position: absolute;
    width: 16px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2f78e6;
    border-radius: 16px;
    top: 22px;
    right: 8px;
  }
  .nav-desktop .content .icon .cart .circle span {
    color: white;
    font-size: 12px;
  }
  .nav-desktop .content .icon .profile {
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .nav-desktop .content .icon .profile h4 {
    margin-right: 15px;
    font-size: 14px;
  }
  .nav-desktop .content .icon .profile i {
    color: #2f78e6;
    font-size: 20px;
  }
  .home-page .bg-main {
    width: 100%;
    height: 1150px;
    position: relative;
    z-index: 1;
    top: 80px;
    background-color: white;
    overflow: hidden;
  }
  .home-page .bg-main .circle {
    width: 100px;
    height: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#2f78e6), color-stop(60%, #21c87a));
    background: linear-gradient(#2f78e6, #21c87a 60%);
    border-radius: 100%;
    position: absolute;
    -webkit-box-shadow: 0px 60px 100px rgba(33, 200, 122, 0.32);
            box-shadow: 0px 60px 100px rgba(33, 200, 122, 0.32);
  }
  .home-page .bg-main .circle-1 {
    width: 335px;
    height: 335px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    top: 20px;
    left: -240px;
  }
  .home-page .bg-main .circle-2 {
    width: 260px;
    height: 260px;
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
    top: 250px;
    right: -200px;
  }
  .home-page .bg-main .circle-3 {
    width: 80px;
    height: 80px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 550px;
    left: 100px;
  }
  .home-page .bg-main .circle-4 {
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(27deg);
            transform: rotate(27deg);
    top: 700px;
    left: 120px;
  }
  .home-page .bg-main .circle-5 {
    width: 150px;
    height: 150px;
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
    top: 850px;
    right: 10px;
  }
  .home-page .bg-main .box {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    position: absolute;
    z-index: 2;
    -webkit-box-shadow: 0px 60px 100px rgba(33, 200, 122, 0.16);
            box-shadow: 0px 60px 100px rgba(33, 200, 122, 0.16);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .bg-main .box i {
    color: #21c87a;
    font-size: 60px;
  }
  .home-page .bg-main .box-1 {
    top: 600px;
    left: 60px;
  }
  .home-page .bg-main .box-2 {
    top: 550px;
    right: 80px;
  }
  .home-page .bg-main .box-2 .icon-1 {
    font-size: 35px;
    margin-top: -20px;
  }
  .home-page .bg-main .box-2 .icon-2 {
    font-size: 45px;
    margin-bottom: -20px;
  }
  .home-page .bg-main .box-3 {
    top: 870px;
    left: 150px;
  }
  .home-page .bg-main .box-4 {
    top: 900px;
    right: 100px;
  }
  .home-page .banner-slider {
    position: absolute;
    top: 120px;
    z-index: 1;
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page .banner-slider .content {
    width: 90%;
  }
  .home-page .banner-slider .content .slider {
    margin-bottom: 50px;
  }
  .home-page .banner-slider .content .slider img {
    width: 100%;
  }
  .home-page .banner-slider .content .icon-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page .banner-slider .content .icon-slider .circle {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #2f78e6;
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-page .banner-slider .content .icon-slider .circle.active {
    background-color: #2f78e6;
  }
  .home-page .main-section {
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: 1;
    top: 620px;
  }
  .home-page .main-section .content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .main-section .content h1 {
    margin-top: 30px;
    text-align: center;
    width: 700px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .home-page .main-section .content h1 span {
    color: #2f78e6;
  }
  .home-page .main-section .content p {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .home-page .main-section .content form {
    width: 500px;
  }
  .home-page .main-section .content form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .home-page .main-section .content form .form-group input {
    width: 69%;
    height: 45px;
    background-color: white;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #1c1a1f;
    -webkit-box-shadow: 0px 30px 60px rgba(28, 26, 31, 0.2);
            box-shadow: 0px 30px 60px rgba(28, 26, 31, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .home-page .main-section .content form .form-group input:focus {
    top: 5px;
    -webkit-transition: 500ms;
    transition: 500ms;
    -webkit-box-shadow: 0px 30px 60px rgba(28, 26, 31, 0);
            box-shadow: 0px 30px 60px rgba(28, 26, 31, 0);
    border: 1px solid #eaeaea;
  }
  .home-page .main-section .content form .form-group button {
    width: 29%;
    height: 45px;
    background-color: #2f78e6;
    -webkit-box-shadow: 0px 30px 60px rgba(47, 120, 230, 0.6);
            box-shadow: 0px 30px 60px rgba(47, 120, 230, 0.6);
    border-radius: 20px;
    border: 1px solid #2f78e6;
    color: white;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
  }
  .home-page .main-section .content form .form-group button:hover {
    top: 5px;
    -webkit-transition: 500ms;
    transition: 500ms;
    -webkit-box-shadow: 0px 30px 60px rgba(47, 120, 230, 0);
            box-shadow: 0px 30px 60px rgba(47, 120, 230, 0);
    border: 1px solid #2f78e6;
  }
  .home-page .kelas-terpopuler {
    margin-top: 150px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 80px;
  }
  .home-page .kelas-terpopuler .content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .kelas-terpopuler .content h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    width: 75%;
    margin-bottom: 20px;
  }
  .home-page .kelas-terpopuler .content p {
    text-align: center;
    font-size: 14px;
    width: 75%;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .home-page .kelas-terpopuler .content .card-group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page .kelas-terpopuler .content .card-group .card {
    width: 270px;
    height: 365px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top {
    height: 195px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top img {
    position: absolute;
    bottom: 0;
    height: 190px;
    z-index: 2;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top .action {
    height: 40px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 3;
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 15px 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top .action i {
    color: #2f78e6;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top .action .review {
    font-size: 12px;
    height: 40px;
    width: 50px;
    background-color: #fbae27;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: polygon(10px 0px, 50px 0px, 50px 40px, 30px 30px, 10px 40px, 10px 5px, 0px 5px);
            clip-path: polygon(10px 0px, 50px 0px, 50px 40px, 30px 30px, 10px 40px, 10px 5px, 0px 5px);
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top .action .review h5 {
    margin-top: -5px;
    margin-left: 10px;
    color: white;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top .information {
    z-index: 3;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0px 15px 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top .information .information-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top .information .information-group i {
    color: #2f78e6;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top .information .information-group h4 {
    margin-left: 10px;
    color: white;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-top .information .information-jenis .badge {
    height: 20px;
    background: #2f78e6;
    font-size: 12px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px 5px 2px 5px;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom {
    height: 170px;
    -webkit-box-shadow: 0px 20px 60px rgba(28, 26, 31, 0.16);
            box-shadow: 0px 20px 60px rgba(28, 26, 31, 0.16);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    padding: 15px 15px 10px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom .title {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom .title h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom .title h4 {
    font-size: 14px;
    font-weight: 400;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom .title h4 span {
    color: #2f78e6;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom hr {
    margin-bottom: 10px;
    height: 1px;
    background-color: #eaeaea;
    border: none;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom .footer .action .btn-beli {
    height: 40px;
    background-color: #21c87a;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 0px 12px 0px 12px;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom .footer .action .btn-cart {
    height: 40px;
    background-color: #1c1a1f;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 0px 12px 0px 12px;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom .footer .harga {
    text-align: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom .footer .harga h5 {
    font-size: 12px;
    color: #fbae27;
    margin-bottom: 5px;
    font-weight: 500;
    text-decoration: line-through;
  }
  .home-page .kelas-terpopuler .content .card-group .card .card-bottom .footer .harga h4 {
    font-size: 18px;
    font-weight: 500;
  }
  .home-page .kelas-jenis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 80px;
    margin-bottom: 50px;
  }
  .home-page .kelas-jenis .left {
    width: 49%;
    background-color: #1c1a1f;
    color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 80px 50px 80px;
  }
  .home-page .kelas-jenis .left .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .home-page .kelas-jenis .left .heading i {
    font-size: 50px;
  }
  .home-page .kelas-jenis .left .heading h2 {
    font-size: 28px;
    margin-left: 30px;
  }
  .home-page .kelas-jenis .left p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .home-page .kelas-jenis .left button {
    padding: 0px 20px 0px 20px;
    height: 50px;
    background-color: #2f78e6;
    border: none;
    color: white;
    border-radius: 30px;
  }
  .home-page .kelas-jenis .right {
    width: 49%;
    background-color: #eaeaea;
    color: #1c1a1f;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 80px 50px 80px;
  }
  .home-page .kelas-jenis .right .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .home-page .kelas-jenis .right .heading i {
    font-size: 50px;
  }
  .home-page .kelas-jenis .right .heading h2 {
    font-size: 28px;
    margin-left: 30px;
  }
  .home-page .kelas-jenis .right p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .home-page .kelas-jenis .right button {
    padding: 0px 20px 0px 20px;
    height: 50px;
    background-color: #1c1a1f;
    border: none;
    color: white;
    border-radius: 30px;
  }
  .home-page .why-us {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 80px;
    margin-bottom: 50px;
  }
  .home-page .why-us .content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .why-us .content .left {
    width: 50%;
    position: relative;
  }
  .home-page .why-us .content .left .frame {
    width: 470px;
    height: 290px;
    border: 10px solid #eaeaea;
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .home-page .why-us .content .left .img-1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .home-page .why-us .content .left .img-2 {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
  .home-page .why-us .content .right {
    width: 50%;
    padding-bottom: 30px;
  }
  .home-page .why-us .content .right h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 20px;
  }
  .home-page .why-us .content .right h2 span {
    color: #2f78e6;
  }
  .home-page .why-us .content .right p {
    line-height: 24px;
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 30px;
  }
  .home-page .why-us .content .right .icon-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-page .why-us .content .right .icon-group .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 270px;
    margin-bottom: 20px;
  }
  .home-page .why-us .content .right .icon-group .icon .box {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    margin-right: 20px;
  }
  .home-page .why-us .content .right .icon-group .icon .box i {
    color: #1c1a1f;
    font-size: 24px;
  }
  .home-page .why-us .content .right .icon-group .icon h4 {
    font-size: 18px;
    color: #1c1a1f;
  }
  .home-page .why-us .content .right .icon-group .icon:hover .box {
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #2f78e6;
  }
  .home-page .why-us .content .right .icon-group .icon:hover .box i {
    color: white;
  }
  .home-page .why-us .content .right .icon-group .icon:hover h4 {
    color: #2f78e6;
  }
  .home-page .you-get {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page .you-get .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-page .you-get .content .left {
    width: 50%;
  }
  .home-page .you-get .content .right {
    width: 50%;
  }
  #mobile {
    display: none;
  }
}
/*# sourceMappingURL=desktop-style.css.map */